h1
{
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 25px;
}
input
{
  width: 100%;
}
.items-container , .col-2
{
  text-align: left;
}
.kg-row
{
  margin: 10px 5px;
}
.kg-button
{
  min-width: 80px;
}